Source: appimagelauncher
Section: utils
Priority: optional
Maintainer: Scarlett Moore <sgmoore@kde.org>
Build-Depends: cmake,
               debhelper (>= 12),
               libappimage-dev,
               libboost-filesystem1.67-dev,
               libboost1.67-dev,
               libcairo2-dev,
               libfuse-dev,
               libglib2.0-dev,
               pkg-config,
               qtbase5-dev,
               qttools5-dev-tools,
Standards-Version: 4.3.0
Homepage: https://github.com/TheAssassin/AppImageLauncher
Vcs-Browser: https://salsa.debian.org/sgclark-guest/appimagelauncher
Vcs-Git: https://salsa.debian.org/sgclark-guest/appimagelauncher

Package: appimagelauncher
Architecture: any
Pre-Depends: binfmt-support
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: AppImage helper
 Helper application for Linux distributions serving as a
 kind of "entry point" for running and integrating AppImages
